<!DOCTYPE html>
<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/M-C-S.css') }}" />
</header>

<body>
<div class="head">
    <h1 class= "logo">Her<br /> &nbsp; Rise</h1>
    <div class='headerlinks'>
    <a href="{{ url_for('home_page') }}" class="headerlink">Home</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{{ url_for('about_page') }}" class="headerlink">About Us</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="{{ url_for('contact_page') }}" class="headerlink">Contact Us</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button class='btn1'><a href="{{ url_for('login_page') }}"class='headerlink1'>LOG IN</a></button>
    </div> <br/>
    <marquee behavior="alternate" direction="right" width="75%" margin="40%"><h1 class="title">Digitized Maternal Care</h1></marquee>
    <p class="subtitle">Empowering Expectant Mothers Through Digital Awareness</p>
</div>
<div class="aboutbody">
    <div class="col1">
         <img src="{{ url_for('static', filename='images/AboutPhoto.png')}}" alt="About">
    </div>
    <div class="col1" style=" background:#44d6f7;">
        <h1 style="font-size: 50px; color: rgb(26, 26, 140); text-align:center;"> About Us</h1>
        <P style="font-size: 20px;">Our main aim is to provide expectant women, their spouses and their families an innovative solution dedicated to tackling the critical issue of maternal mortality, particularly in regions where access to quality healthcare is a challenge. We believe that every expectant mother deserves comprehensive care, timely information, and a supportive community to ensure a safe pregnancy journey. Our system is designed to bridge the gaps in traditional healthcare, which often struggles with a lack of interactivity, personalization, and real-time support. </P>
    </div>      
</div>
<div class="mis">
    <div class="col2" style=" background:#44d6f7;">
        <h1 style="font-size: 50px; color: rgb(26, 26, 140); text-align:center;"> Our Mission</h1>
        <p style="font-size: 20px; text-align: center;" >To improve maternal health care access and outcomes for the entire community.</p>
    </div>
</div>
<div class="vis">
     <div class="col3" style=" background:#44d6f7;">
        <h1 style="font-size: 50px; color: rgb(26, 26, 140); text-align:center;"> Vision</h1>
        <p style="font-size: 20px; text-align: center;" >To create a world where every expectant mother, regardless of her location or socioeconomic status, has access to the highest quality of care and support. </p>
    </div>
    <div class="col3" style="align-items: center;">
        <img src="{{ url_for('static', filename='images/AboutPhoto3.png') }}" alt="#">
    </div>
   
</div>
</body>
<footer class="footer">
    <h2 style="text-align: center; color: rgb(42, 64, 230); padding: 20px;"><u>Our Location</u></h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3988.8445068397577!2d36.667343024482854!3d-1.2659244856031835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spcea%20kikuyu%20hospital!5e0!3m2!1sen!2ske!4v1754146258752!5m2!1sen!2ske" width="1000px" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h1>SUBSCRIBE TO OUR WEEKLY NEWS</h1>
        <input class= 'footerinput' type="email" placeholder='EMAIL' /> <br/> <br/>
        <button class='footerbtn1'>SUBSCRIBE</button>
        <p>&copy; 2025 Digitized Maternal Care System | Powered by Community and Innovation</p>
</footer>
</html>